.slider {
  overflow-x: hidden;

  width: 100%;
  margin: auto;
  position: relative;
  padding: 0 3em;
}

.slider>.slides-container {
  transition: transform 0.6s;
  z-index: 3;
}

.slider>.controls>button {
  position: absolute;
  background: rgb(255, 255, 255);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  top: 50%;
  line-height: 0;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 4px var(--shadow);
  border: 3px solid var(--primary);
  cursor: pointer;
  z-index: 3;
  transform: translateY(-50%);
}

.slider>.controls>button.prev {
  left: 0.25em;
}

.slider>.controls>button.next {
  right: 0.25em;
}

/* .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  transform: translateX(-100%);
  width: 20px;
  background: transparent;
  height: 100%;
  background: transparent;
  box-shadow: 1em 0px 7px #fff;
  z-index: 2;
}

.slider::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  transform: translateX(100%);
  width: 20px;
  background: transparent;
  height: 100%;
  background: transparent;
  box-shadow: -1em 0px 7px #fff;
  z-index: 2;
} */