.topbar {
  position: relative;
  background: #fff;
  box-shadow: 0 2px 4px var(--shadow);
  padding: 1em;
  border-bottom: 1px solid var(--border);
  grid-template-columns: 1fr 50px 50px;
  align-items: center;
}

.topbar>.search-field-container {
  width: 50%;
}

.topbar .notifications {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}